<header class="header">
  <app-employers-header-item
    *ngFor="let employer of localEmployers"
    [ngClass]="{'--selected': employer.id === currentEmployer.id}"
    (click)="selectEmployer(employer)"
  ></app-employers-header-item>
  <app-employers-header-empty-item (click)="addEmployer()"></app-employers-header-empty-item>
</header>

<main>
  <app-employers-item
    *ngIf="currentEmployer"
    [employer]="currentEmployer"
    [localManyToMany]="createWorkerShopRequestService.localManyToMany"
  ></app-employers-item>
  <app-employers-item-empty *ngIf="!currentEmployer"></app-employers-item-empty>
</main>
